.TitleFeatured{
    text-align: center;
    /* background-color: rgb(10, 10, 20); */
    /* background-image: linear-gradient( rgb(4, 1, 15),rgb(10, 10, 35)); */
    height: 170px;
    width: auto;
}
/* .Bibomb{
    font-size: 20px;
} */
.TitlePremium{
    align-items: center;
    /* padding: 100px; */
    font-size:42px;
    font-family: cursive;
    animation-name: animateDestacados;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    cursor: pointer;
    width: auto;
    /* box-shadow: 0px 0px 10px 0px #333 inset; */ 
}@media(max-width: 600px) {
    .TitlePremium{
        font-size: 30px;
        padding: 80px;
    }
}
 

@keyframes animateDestacados{
    0%{color:  rgb(165, 37, 144)}
    50%{color: black;}
    100%{color: rgb(228, 23, 211);}
} 


/* @keyframes animateDestacados{
    0%{color:  rgb(228, 23, 211)}
    25%{color: black;}
    50%{color: white;}
    100%{color: black;}
} */