.FlexItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}
.item{
    text-align: center;
    font-size: 10px;
    color: #394870;
    /* color: #f17a7a; */
    margin-top: 5px;
    cursor: pointer;
}.item:hover{
    color: lightblue;
    transition: all 0.6s ease-in-out;
}

.item-Precio{
    text-align: center;
    font-size: 20px;
    color: #394870;
    margin-top: 5px;
    /* cursor: pointer; */
}.item-Precio:hover{
    /* color: #f17a7a; */
    color: lightblue;
    transition: all 0.6s ease-in-out;
}
.ItemImg{
    height: 170px;
    cursor: pointer;
}
.ItemCount{
    color:#888;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    
}