.DFlex{
    display: flex;
    justify-content: center;
}
.titlee{
    text-align: center;
    font-size: 30px;
    color: #394870;
    /* color: #f17a7a; */
    margin-top: 0px;
    cursor: pointer;
    /* background: rgb(194, 192, 192); */
    padding: 50px;
    /* font-family: 'Inspiration', cursive; */
    /* font-family: 'Alegreya SC', serif; */
}.titlee:hover{
    /* color: #f17a7a; */
    color: #8cbcd8;
    transition: all 0.6s ease-out;
};

.titulo{
    text-align: center;
    font-size: 15px;
    color: #394870;
    /* color: #f17a7a; */
    /* margin-top: 15px; */
    cursor: pointer;
}.titulo:hover{
    /* color: #f17a7a; */
    color: lightblue;
    transition: all 0.6s ease-in-out;
}
.title{
    text-align: center;
    font-size: 30px;
    color: #394870;
    /* color: #f17a7a; */
    margin-top: 0px;
    cursor: pointer;
    background: black;
    padding: 50px;
    /* font-family: 'Inspiration', cursive; */
    /* font-family: 'Alegreya SC', serif; */
}.title:hover{
    /* color: #f17a7a; */
    color: #8cbcd8;
    transition: all 0.6s ease-out;
};
